body { 
    margin: 0; 
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif; 
}

.tp-dfwv { /* This is the default class for the pane */
    position: absolute;
    top: 1% !important;  
    left: 1%;
    pointer-events: auto;
    z-index: 1000;
}

.sliderFlex { /* This is the default class for the pane */
    position: absolute;
    display: flex;
    justify-content: center;
    bottom: 20px !important;  
    width: 100%;
    height: 72px;
    z-index: 1000;
    margin:0 auto;
}

.sliderContainer {
    width: 80%;
    height: 100%;
    border-radius: 16px;
    background-color: #2a2a2a;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

.slider {
    position: absolute;
    margin-top: 20px;
    margin-bottom: 10px;
    -webkit-appearance: none;
    width: 94%;
    height: 2px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}
  
.slider:hover {
    opacity: 1;
}
  
.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    outline: 3px solid rgb(33, 33, 33);
    background: #ffffff;
    cursor: pointer;
}
  
.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #04AA6D;
    cursor: pointer;
}

.buttonTimeline {
    background-color: transparent; 
    border: none;
    color: white;
    padding: 3px 2px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 0px 2px;
    cursor: pointer;
    border-radius: 4px;
}

.buttonTimeline:hover .icon {
    fill: rgb(93, 93, 93);
}

.buttonTimeline:active .icon {
    fill: rgb(22, 22, 22);
}

.textTimeline {
    color: #d3d3d3;
    margin-left: 6px;
    margin-top: -3px;
    border-radius: 5px;
    background-color: #656565;
    width: 40px;
    padding: 3px 3px 3px 3px;
    font-size: small;
    text-align: center;
}

.sliderConnected {
    position: absolute;
    margin-top: 20px;
    margin-bottom: 10px;
    -webkit-appearance: none;
    width: 94%;
    height: 2px;
    background: transparent;
    outline: none;
    opacity: 1;
    -webkit-transition: .2s;
    transition: opacity .2s;
    pointer-events: none;
    visibility: hidden;
}

.sliderConnected::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    background: var(--thumb-color, #076145);
    cursor: pointer;
}
  
.sliderConnected::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: var(--thumb-color, #076145);
    cursor: pointer;
}

.sliderConnected::-webkit-slider-thumb::before {
    content: "✓"; /* Change this to a number or symbol */
    width: 15px;
    height: 15px;
    border-radius: 15px;
    outline: 3px solid rgb(33, 33, 33);
    background: var(--thumb-color, #076145);
    cursor: pointer;
}

.sliderContainer4Connected {
    width: 100%;
    height: 100%;
    border-radius: 16px;
    align-items: center;
    position: relative;
    display: flex;
    flex-direction: column;
}

.slider-value {
    position: absolute;
    top: -32px; /* Adjusts text position above thumb */
    left: 50%;
    transform: translateX(-50%); /* Adjust position */
    padding: 5px 10px;
    color: #d3d3d3;
    border-radius: 5px;
    background-color: #212121;
    font-size: small;
    text-align: center;
}